#main,#load-wrapper,#extra-wrapper{
   width:900px;
   height:650px;
}
#main{
   opacity: 0;
   transition: 0.4s all;
}
#load-wrapper{
   position: absolute;
}
#extra-wrapper{
   position:absolute;
}
#extra {
   z-index: 10;
   width: auto;
   height: auto;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 12px;
   background: #a0a0a0;
   font-size: 14px;
   padding: 6px 11px;
   color: white;
   border-radius: 6px;
}
a:hover{
   cursor: pointer;
   color:#c7e8ff
}
#appLoading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
   }

   .load {
      position: absolute;
      width:130px;
      background-color: #4b9ddb00;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%)
   }

   .load .line:nth-last-child(1) {
      animation: loadingAnimate 0.4s 0.07s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite;
      margin-left: 0.3rem;
   }

   .load .line:nth-last-child(2) {
      animation: loadingAnimate 0.4s 0.13s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite;
   }

   .load .line:nth-last-child(3) {
      animation: loadingAnimate 0.4s 0.20s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite;
      margin-right: 0.3rem;
   }

   .line {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 15px;
   }

   .load .line:nth-of-type(1) {
      background-color: rgb(255, 191, 132);
   }

   .load .line:nth-of-type(2) {
      background-color: rgb(248, 158, 73);
   }

   .load .line:nth-of-type(3) {
      background-color: rgb(255, 136, 25);
   }

   @keyframes loadingAnimate {
      0% {
         transform: translate(0, 0);
      }

      50% {
         transform: translate(0, 1.5rem);
      }

      100% {
         transform: translate(0, 0);
      }
   }